body
	{
		margin: 0px 0px 0px 0px;
		-webkit-user-select: none;                /* disable cut copy paste */
		-webkit-touch-callout: none;              /* disable callout, image save panel */
		-webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
	}

.dpad
	{
		float: left;
		/*margin: 0px 0px 0px 10px;*/
	}
	
.ab
	{
		float: right;
		/*margin: 0px 0px 30px 10px;*/
	}
	
#div_dpad
	{
		margin: 20px;
		position: absolute; 
		bottom: 0; 
		left: 0; 
		z-index: 500;
	}
	
#div_ab
	{
		margin: 20px;
		position: absolute; 
		bottom: 0; 
		right: 0; 
		z-index: 500;
	}

#videoArea
	{
		width: 100%;
		height: 100%;
		position: absolute; 
		top: 0; 
		left: 0; 
		visibility: visible; 
		z-index: 1;
		margin: 0;
	}

#logArea
	{
		width: 100%;
		height: 100%;
		position: absolute; 
		top: 0; 
		left: 0; 
		visibility: visible; 
		z-index: 50;
		padding: 50px 10px 0px 10px;
		margin: 0;
		font-family: "Verdana";
		font-size: 10px;
		color: green;
		overflow: hidden;
	}

#portrait_alert
	{
		width: 100%;
		height: 100%;
		position: absolute; 
		top: 0; 
		left: 0; 
		visibility: visible; 
		z-index: 999;
		padding: 50px 10px 0px 10px;
		margin: 0;
		text-align: left;
		font-family: "Verdana";
		font-size: 70px;
		color: red;
		overflow: hidden;
		background-color: black;
	}

.hiddenPic
	{
		display:none;
	}

